<h1>InfluxDB</h1>
<section>
  <p class="center">
    <input type="checkbox" id="PIDB_EnabledChk"><label class="red">Enable InfluxDB</label>
  </p>
  <hr>
  <p>
    Uri:<input type="text" id="PIDB_Uri">
  </p>
  <p>
    Database:<input type="text" id="PIDB_Database">
  </p>
  <p>
    Measurement:<input type="text" id="PIDB_Measurement">
  </p>
  <p>
    user:<input type="text" id="PIDB_user">
  </p>
  <p>
    password:<input type="text" id="PIDB_password">
  </p>
  <p class="around">
    <button class="red" id="PIDB_SaveBtn">Save**</button>
  </p>
</section>