<h1>CNN</h1>
<section class="row trans">
    <section>
        <h4>Digits</h4>
        <p class="center">
            <input type="checkbox" id="PCNN_DigitEnabledChk"><label class="red">Enable Recognition</label>
        </p>
        <p>
            Model:<input type="text" id="PCNN_DigitModel">
        </p>
        <p class="center">
            <input type="checkbox" name="threshold" id="PCNN_CNNGoodThreshold"><label for="threshold">Enable threshold</label>
        </p>
        <hr>
        <h4>Analogs</h4>
        <p class="center">
            <input type="checkbox" id="PCNN_AnalogEnabledChk"><label class="red">Enable Recognition</label>
        </p>
        <p>
            Model:<input type="text" id="PCNN_AnalogModel">
        </p>
        <hr>
        <p class="around">
            <button class="red" id="PCNN_SaveBtn">Save**</button>
        </p>
    </section>
</section>