<h1> File Server </h1>
<section>
  <p class="around">
    <ul id="FS_navBar">
      <li></li>
    </ul>
  </p>
  <p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Size</th>
          <th>Readonly</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="filesTable">
      </tbody>
    </table>
  </p>
</section>
<h2>Upload file:</h2>
<section>
  <p class="center">
      <button class="blue"><input id="newfile" type="file"></button>
  </p>
  <p>
    <label for="filepath">Set path on server</label>
    <input id="filepath" type="text">
  </p>
  <p class="around">
    <button class="red" id="upload">Upload</button>
  </p>
</section>

