<h1>MQTT</h1>
<section>
  <p class="center">
    <input type="checkbox" id="PMQTT_EnabledChk"><label class="red">Enable MQTT</label>
  </p>
  <hr>
  <p>
    Uri:<input type="text" id="PMQTT_Uri">
  </p>
  <p>
    MainTopic:<input type="text" id="PMQTT_MainTopic">
  </p>
  <p>
    ClientID:<input type="text" id="PMQTT_ClientID">
  </p>
  <p>
    user:<input type="text" id="PMQTT_user">
  </p>
  <p>
    password:<input type="text" id="PMQTT_password">
  </p>
  <p class="center">
    <input type="checkbox" id="PMQTT_SetRetainFlag"><label class="red">Set retain flag</label>
  </p>
  <p class="around">
    <button class="red" id="PMQTT_SaveBtn">Save**</button>
  </p>
</section>